<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dormitory.mapper.StudentMapper">
    <select id="list" resultType="Student">
        select s.id,s.number,s.name name,s.gender,s.dormitory_id dormitoryid,d.name dormitoryName,s.state,s.create_date createDate
        from student s,dormitory d
        where s.dormitory_id = d.id
    </select>
    <select id="searchByNumber" resultType="Student">
        select s.id,s.number number ,s.name name,s.gender,s.dormitory_id dormitoryid,d.name dormitoryName,s.state,s.create_date createDate
        from student s,dormitory d
        where s.dormitory_id = d.id and number like concat('%',#{value},'%')
    </select>
    <select id="searchByName" resultType="Student">
        select s.id,s.number,s.name,s.gender,s.dormitory_id dormitoryid,d.name dormitoryName,s.state,s.create_date createDate
        from student s,dormitory d
        where s.dormitory_id = d.id and s.name like concat('%',#{value},'%')
    </select>
    <insert id="save">
        insert into student (dormitory_id,number,name,gender,state) values (#{dormitoryId},#{number},#{name},#{gender},'入住')
    </insert>
    <delete id="del">
        delete from student where id=#{value}
    </delete>
    <update id="update">
        update student set dormitory_id =#{dormitoryId},number =#{number},name =#{name},gender =#{gender},state =#{state} where id =#{id}
    </update>
    <select id="moveList" resultType="Student">
        select s.id,s.number,s.name,s.gender,s.dormitory_id dormitoryId,s.state,d.id,d.name dormitoryName
        from student s,dormitory d
        where s.dormitory_id=d.id and s.state='入住'
    </select>
    <update id="move">
        update student
        set state='迁出'
        where id=#{value}
    </update>
    <select id="moveSearchByDormitoryName" resultType="Student">
        select s.id,s.number,s.name,s.gender,s.dormitory_id dormitoryId,s.state,d.id,d.name dormitoryName
        from student s,dormitory d
        where s.dormitory_id=d.id and s.state='入住' and d.name like concat('%',#{value},'%')
    </select>
    <select id="moveSearchByName" resultType="Student">
        select s.id,s.number,s.name,s.gender,s.dormitory_id dormitoryId,s.state,d.id,d.name dormitoryName
        from student s,dormitory d
        where s.dormitory_id=d.id and s.state='入住' and s.name like concat('%',#{value},'%')
    </select>
    <insert id="moveOutSave">
        insert into moveout (student_id,dormitory_id,reason) value (#{studentId},#{dormitoryId},#{reason})
    </insert>
</mapper>